.about {
  display: flex;
  gap: 10px;
  position: relative;
}

.about__wrap-right {
  width: 500px;
  flex-shrink: 0;
}

.about__desctription {
  padding: 20px;
  background-color: #bde9ec;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;

}

.about__job {
  min-width: 300px;
}

.about {

  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 8);
  padding: 10px;
}

.specialists__card {
  width: 350px;
  padding: 15px;
  background-color: aliceblue;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
}

.specialists__name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.specialists__job {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}

.specialists__desc {
  margin-top: 0;
  margin-bottom: 15px;
}

.specialists__link {
  display: block;
  padding: 10px;
  background-color: rgb(62, 120, 167);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}

.specialists__card {
  display: flex;
  flex-direction: column;
}

.specialists__link {
  margin-top: auto;
}

.specialists__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.programs__kard {
  width: 350px;
  padding: 15px;
  background-color: antiquewhite;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
}

.programs__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.price__item {
  width: 350px;
  padding: 15px;
  background-color: aliceblue;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
}

.price__price {
  width: 310px;
  padding: 20px;
  background-color: aliceblue;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
  text-align: center;
}

.price__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.section__title {
  display: block;
  padding: 10px;
  background-color: rgb(161, 230, 230);
  color: rgb(25, 34, 34);
  text-decoration: none;
  text-align: center;
}

.section__desk {
  display: block;
  padding: 10px;
  background-color: rgb(161, 230, 230);
  color: rgb(4, 12, 12);
  text-decoration: none;
  text-align: center;
}

.programs__title {
  background-color: rgb(161, 230, 230);
  text-align: center;
}
.send{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);

}
.send__wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  
  transform: translate(-50%,-50%);
  margin:  auto;
  width: 600px;
  background-color: #918989;

}
.send__title {
  display: block;
  padding: 10px;
  color: rgb(3, 2, 7);
  text-decoration: none;
  text-align: center;
}

.send__connection {
  display: block;
  padding: 10px;
  color: rgb(3, 2, 7);
  text-decoration: none;
  text-align: center;
}

.send__form {
  text-align: center;
}

.button {
  padding: 10px;
  margin: 5px;
  background-color: rgb(163, 226, 202);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
}

.button:hover {
  background-color: rgb(18, 207, 135);
}